@mixin make-container() {
  width: 100%;
  padding-right: ($gutter-width);
  padding-left: ($gutter-width);
  margin-right: auto;
  margin-left: auto;
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      max-width: $container-max-width;
    }
  }
}

@mixin min-width($min-width) {
  @media (min-width: #{map_get($breakpoints, $min-width)}) {
    @content
  }
}

@mixin max-width($max-width) {
  @media (max-width: #{map_get($breakpoints, $max-width) - 1}) {
    @content
  }
}

@mixin flex-col-width($width) {
  flex: 0 0 $width;
  max-width: $width;
}
