.content {
  background-color: $main-bg;
  padding-top: $gutter-width * 2;
  padding-bottom: $gutter-width * 2;

  .row {
    @include min-width(md) {
      margin-bottom: $gutter-width * 2;
    }
  }

  @include min-width(lg) {
    %animation-final-state {
      position: absolute;
      left: -12.5%;
      top: -12.5%;
      z-index: 1000;

      width: 125%;

      img {
        width: 100%;
      }
    }

    .col {
      &-inside {
        &:hover {
          animation: hover .2s ease-out;

          @extend %animation-final-state;
        }
      }
    }
  }

  &-red {
    background-color: #dc3545;
    height: 400px;
  }

  &-main {
    &-wrapper {
      @include max-width(lg) {
        @include flex-col-width(100%);
      }
    }

    &-col {
      @include max-width(md) {
        margin-bottom: $gutter-width;

        @include flex-col-width(100%);

        img {
          width: 100%;
        }
      }
    }
  }

  &-aside {
    background-color: $link-color;
    height: 900px;

    &-wrapper {
      @include max-width(lg) {
        @include flex-col-width(100%);
      }
    }
  }
}

@keyframes hover {
  from {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
  }
  to {
    @extend %animation-final-state;
  }
}
