.content {
  background-color: $main-bg;
  padding-top: $gutter-width * 2;
  padding-bottom: $gutter-width * 2;

  .row {
    @include min-width(md) {
      margin-bottom: $gutter-width * 2;
    }
  }

  &-red {
    background-color: #dc3545;
    height: 400px;
  }

  &-main {
    &-wrapper {
      @include max-width(lg) {
        @include flex-col-width(100%);
      }
    }

    &-col {
      @include max-width(md) {
        margin-bottom: $gutter-width;

        @include flex-col-width(100%);

        img {
          width: 100%;
        }
      }
    }
  }

  &-aside {
    background-color: $link-color;
    height: 900px;

    &-wrapper {
      @include max-width(lg) {
        @include flex-col-width(100%);
      }
    }
  }
}
