* {
  box-sizing: border-box;
}

body {
  background-color: $base-bg;
  color: $base-color;

  font-size: 1rem;
  font-family: 'Open Sans', Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
}

.container {
  @include make-container;
  @include make-container-max-widths;
}

.row {
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $gutter-width;
  padding-left: $gutter-width;

  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  align-content: center;

  @for $i from 1 through 12 {
    &-#{$i} {
      flex: 0 0 percentage(1/12) * $i;
      max-width: percentage(1/12) * $i;
    }
  }
}
